/*Variabler*/
$primary-color: #E4D4C9;
$secondary-color: #DF262E; 
$third-color: #724F37;
$font-text: 'Times New Roman', Times, serif;
$font-overskrift: "Libre Baskerville", serif;
$text-color: #ffff;

/*Mixins*/
@mixin btn($bg-color: $secondary-color, $btn-padding: 0.6em 1em){
    background-color: $bg-color;
    padding: $btn-padding;
    border-radius: 8px;
    color: $text-color;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-family: $font-overskrift;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.5);
}

@mixin service-box($width: 30vw){
    border-radius: 10px;
    width: $width;
    padding: 2em;
    margin: 1em 1em;
   
}

@mixin secondary-box($width: 40vw){
    width: $width;
    margin: 1em 1em;
}